body {
    background-color:black;
    color: white;
    height: 100%;
    overflow: hidden;
}

/*
  1. Welcome / open file screen
*/
#openberg #welcome {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 1;
}

/*
  Open file tab
*/
.open:hover {
    background-color: gray;
}
.open {
    font-size: large;
}

#openberg {
    text-align: right;
    font-family: monospace
}



#openberg #title {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#openberg #pick {
    border-top: thin white;
    position: absolute;
    bottom: 0%;
    text-align: right;
    width: 100%;
}
#pick_file_tab {
    bottom: 0%;
    position: absolute;
    width: 100%;
}
#pick_file_control {
    display:none;
}

/*
  Pages
*/
#pages {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#pages img {
    max-width: 100%;
    max-height: 100%;
}

/*
Controls
*/
.control {
    position:absolute;
    bottom: 32px;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    z-index: 10;
}
#go_left {
    background-image: url("../img/arrow_left.png");
    left: 1%;
}
#go_right {
    background-image: url("../img/arrow_right.png");
    right: 1%;
}