body {
    background-color:black;
    color: white;
    height: 100%;
    overflow: hidden;
}
#openberg ul {
    list-style-type: none
}
#openberg .open:hover {
    background-color: gray;
}
#openberg {
    text-align: right;
    font-family: monospace
}
#openberg #title {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#openberg #pick {
    border-top: thin white;
}
